<?xml version="1.0"?>
<model>
  <name>XGC2 FS150 Iris</name>
  <version>1.0</version>
  <sdf version='1.6'>iris.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    XGC2 FS150 SITL visual and collision model. Meshes are packaged here so Gazebo
    and RViz render the same airframe assets.
  </description>
</model>
