<?xml version="1.0"?>
<launch>
  <arg name="ID" default="3"/>
  <arg name="vehicle" default="iris"/>
  <arg name="px4_sim_model" default="iris"/>
  <arg name="model_name" default="fs150_$(arg ID)"/>

  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="interactive" default="false"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <arg name="world" default="$(find gazebo_sim_px4_1_12)/worlds/empty.world"/>
  <arg name="sdf" default="$(find gazebo_sim_px4_1_12)/models/iris/iris.sdf"/>
  <arg name="work_dir" default="$(env HOME)/.xgc2/px4_sitl/$(arg model_name)"/>
  <arg name="param_file" default="$(find gazebo_sim_fs150_sitl)/config/generated/fs150-sitl.params"/>
  <arg name="reset_params" default="true"/>
  <arg name="sys_autostart" default=""/>
  <arg name="sim_speed_factor" default=""/>
  <arg name="home_lat" default=""/>
  <arg name="home_lon" default=""/>
  <arg name="uxrce_dds_ns" default=""/>
  <arg name="uxrce_dds_port" default=""/>

  <!-- PX4 instance N maps to MAV_SYS_ID=N+1 and MAVROS UDP ports 14540+N -> 14580+N. -->
  <arg name="fcu_url" default="$(eval 'udp://:' + str(14540 + int(arg('ID'))) + '@localhost:' + str(14580 + int(arg('ID'))))"/>
  <arg name="gcs_url" default=""/>
  <arg name="namespace" default="uav1"/>
  <arg name="respawn_gazebo" default="false"/>
  <arg name="respawn_mavros" default="false"/>

  <include file="$(find gazebo_sim_px4_1_12)/launch/iris.launch">
    <arg name="ID" value="$(arg ID)"/>
    <arg name="vehicle" value="$(arg vehicle)"/>
    <arg name="px4_sim_model" value="$(arg px4_sim_model)"/>
    <arg name="model_name" value="$(arg model_name)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="sdf" value="$(arg sdf)"/>
    <arg name="work_dir" value="$(arg work_dir)"/>
    <arg name="param_file" value="$(arg param_file)"/>
    <arg name="reset_params" value="$(arg reset_params)"/>
    <arg name="sys_autostart" value="$(arg sys_autostart)"/>
    <arg name="sim_speed_factor" value="$(arg sim_speed_factor)"/>
    <arg name="home_lat" value="$(arg home_lat)"/>
    <arg name="home_lon" value="$(arg home_lon)"/>
    <arg name="uxrce_dds_ns" value="$(arg uxrce_dds_ns)"/>
    <arg name="uxrce_dds_port" value="$(arg uxrce_dds_port)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="interactive" value="$(arg interactive)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="P" value="$(arg P)"/>
    <arg name="Y" value="$(arg Y)"/>
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="gcs_url" value="$(arg gcs_url)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
  </include>
</launch>
